@import './additional-styles/theme.css';
@import './additional-styles/animation-custom.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #a7abb3;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9da0a7;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
